@import "tailwindcss";

:root {
  --background: #F9F6F0;
  --foreground: #2C3437;
  --accent-gold: #C5A059;
  --pavilion-border: #D8CEBE;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, .font-serif {
  font-family: var(--font-playfair), serif;
}
